@{
    ViewData["Title"] = "Demnoboard";
}

<div class="input-fields" id="input-fields">
    <form action="/Posts/CreatePost" method="POST">
        <div class="g-recaptcha" data-sitekey="6LdFdkYgAAAAAMlXQze-tVOogDLng_sbZ2ONH9DE"></div>
        <input type="text" name="Title" placeholder="Title"/>
        <br/>
        <textarea type="text" name="Text" placeholder="Text"></textarea>
        <input type="text" name="Destination" value="2" style="display: none;"/>
        <br/>
        <input type="submit" value="Submit">
    </form>
</div>


<main>
    @foreach(Post post in ViewBag.Posts)
    {
        <div class="thread">
            <div class="thread-info">
                <span class="thread-identifier">@post.Id</span>
                <span class="thread-title">@post.Title</span>
                <a class="thread-button" href="~/Posts/Post?id=@post.Id">View -></a>
            </div>
            <div class="thread-text">@post.Text</div>
            <hr/>
        </div>   
    }
</main>