<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles.css"/>
</head>
<body>
<header>
    <h1 class="main-title" style="cursor: pointer" onclick="window.location.href='/'">Demnoboard</h1>
    <hr class="title-hr"/>
    <h4 class="second-title" style="cursor: pointer" onclick="document.getElementById('input-fields').style.display = 'block';">yet another textboard</h4>
    <hr/>
</header>

@RenderBody()

<footer>
    <a href="https://github.com/demndevel/SimpleTextBoard">Github</a> | <a href="#" onclick="document.getElementById('input-fields').style.display = 'block';">Create post</a>
</footer>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>